@import "switch.css";
@import "tarefas.css";
@import "header.css";
@import "cronometro.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(180deg, #339 34.9%, rgba(255, 0, 204, 0.54) 100%) no-repeat fixed center;
  color: #fff;
}

main {
  margin: 0 auto;
  width: 50vw;
}

button {
  border: none;
}