.tarefas {
    width: 300px;
    list-style: none;
}

.tarefas li {
    display: flex;
    border-bottom: solid 1px black;
    justify-content: space-between;
}

.tarefas-titulo{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adicionar-input{
    display: flex;
    width: 442px;
    height: 45px;  
    padding: 5px 70px 4px 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #603AA7;
    opacity: 0.1;
}

#tarefas-container{
    padding: 24px;
    gap: 24px;
}

#adicionar-icon{
    border-radius: 360px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
    align-self: center;
}

#adicionar{
    display: flex;
    gap: 24px;
}


